img {
    object-fit: cover;
    width: 100%;
}

img:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.inputs {
    display: flex;
    flex-direction: row;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 848px;
    margin: 0 auto;
}
  
.image-grid > img {
    flex-basis: 25%;
    height: 200px;
    width: auto;
}
